.DS_Store
*.sublime-project
secret/

### zsh ###
.zsh/cache

### Atom ###
atom.symlink/packages
atom.symlink/storage
atom.symlink/compile-cache
atom.symlink/blob-store
atom.symlink/.apm
atom.symlink/.node-gyp
