"*":
  core:
    audioBeep: false
    disabledPackages: [
      "metrics"
      "welcome"
      "language-c"
      "language-java"
      "language-clojure"
      "language-objective-c"
      "language-perl"
      "language-ruby"
      "language-ruby-on-rails"
      "language-coffee-script"
      "language-csharp"
      "whitespace"
    ]
    telemetryConsent: "no"
    themes: [
      "dracula-ui"
      "dracula-syntax"
    ]
    titleBar: "custom"
  editor:
    fontFamily: "Fira Mono"
    fontSize: 16
    invisibles: {}
    showIndentGuide: true
    softWrap: true
  "exception-reporting":
    userId: "ae9cc485-ff2f-b642-a290-6c04ae71f845"
  "file-icons":
    coloured: false
  "linter-ui-default":
    decorateOnTreeView: "None"
    statusBarPosition: "Right"
    useBusySignal: false
  "package-sync":
    createOnChange: true
    forceOverwrite: true
  "project-folder":
    projectRootDirectories: [
      "~/Projects"
    ]
  "tree-view":
    showOnRightSide: true
  welcome:
    showOnStartup: false
  zentabs:
    neverCloseUnsaved: true
