"*":
  core:
    audioBeep: false
    disabledPackages: [
      "metrics"
      "welcome"
      "language-c"
      "language-java"
      "language-clojure"
      "language-objective-c"
      "language-perl"
      "language-ruby"
      "language-ruby-on-rails"
      "language-coffee-script"
      "language-csharp"
      "whitespace"
    ]
    telemetryConsent: "no"
    themes: [
      "dracula-ui"
      "dracula-theme"
    ]
    useCustomTitleBar: true
  editor:
    fontFamily: "Fira Mono"
    invisibles: {}
    showIndentGuide: true
    softWrap: true
  "exception-reporting":
    userId: "ae9cc485-ff2f-b642-a290-6c04ae71f845"
  "file-icons":
    coloured: false
  linter:
    gutterEnabled: false
    gutterPosition: "Left"
    showErrorTabFile: false
    showErrorTabProject: false
    statusIconPosition: "Right"
    statusIconScope: "File"
  welcome:
    showOnStartup: false
