packages: [
  "atom-ternjs"
  "auto-detect-indentation"
  "autocomplete-modules"
  "dracula-theme"
  "dracula-ui"
  "editorconfig"
  "file-icons"
  "isearch"
  "language-babel"
  "linter"
  "linter-eslint"
  "merge-conflicts"
  "package-sync"
]
