packages: [
  "atom-ternjs"
  "auto-detect-indentation"
  "autocomplete-modules"
  "dracula-syntax"
  "dracula-ui"
  "editorconfig"
  "file-icons"
  "intentions"
  "language-babel"
  "linter"
  "linter-eslint"
  "linter-ui-default"
  "merge-conflicts"
  "no-title-bar"
  "package-sync"
  "project-folder"
  "zentabs"
]
